CASINO_ADDR=:8081
CASINO_DSN=postgres://mudro_casino_app:<CASINO_APP_PASSWORD>@localhost:5434/mudro_casino?sslmode=disable
CASINO_APP_DSN=postgres://mudro_casino_app:<CASINO_APP_PASSWORD>@casino-db:5432/mudro_casino?sslmode=disable
CASINO_MAIN_DSN=postgres://mudro_app:<APP_PASSWORD>@localhost:5433/gallery?sslmode=disable
CASINO_POSTGRES_PASSWORD=<CASINO_POSTGRES_SUPERUSER_PASSWORD>
CASINO_INTERNAL_SECRET=<CASINO_INTERNAL_SECRET>
CASINO_START_BALANCE=500
CASINO_RTP_BPS=9500
CASINO_MAX_BET=1000
CASINO_ROULETTE_BETTING_MS=15000
CASINO_ROULETTE_LOCK_MS=1500
CASINO_ROULETTE_SPIN_MS=4500
CASINO_ROULETTE_RESULT_MS=3500
