CASINO_ADDR=:8081
CASINO_DSN=postgres://postgres:postgres@localhost:5434/mudro_casino?sslmode=disable
CASINO_MAIN_DSN=postgres://postgres:postgres@localhost:5433/gallery?sslmode=disable
CASINO_START_BALANCE=500
CASINO_RTP_BPS=9500
CASINO_MAX_BET=1000
CASINO_ROULETTE_BETTING_MS=15000
CASINO_ROULETTE_LOCK_MS=1500
CASINO_ROULETTE_SPIN_MS=4500
CASINO_ROULETTE_RESULT_MS=3500
